.featured {
    min-height: 100vh;
        /* full screen height */
        width: 100%;
    
        padding: 100px 8%;
        background: #020617;
        color: white;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* vertical center */
        /* horizontal center */
    
        box-sizing: border-box;
}

.featured-title {
    font-size: 42px;
        font-weight: 700;
        margin-bottom: 60px;
        letter-spacing: 1px;
        text-align: center;
}

.featured-slider {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.featured-card {
    width: 260px;
    padding: 20px;
    border-radius: 14px;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.1);

    transition: 0.4s;
}

.featured-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.featured-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.featured-card p {
    color: #94a3b8;
    font-size: 14px;
}

/* mobile */

@media(max-width:768px) {

    .featured-slider {
        flex-direction: column;
        align-items: center;
    }

    .featured-card {
        width: 90%;
    }

}